annotated-doc
annotated-types
anyio
certifi
click
distro
fastapi
h11
httpcore
httpx
idna
jiter
openai
pydantic
pydantic_core
python-multipart
sniffio
starlette
tqdm
typing-inspection
typing_extensions
uvicorn
chromadb
pypdf
tiktoken